.main-mobile-container-offices			
    .main-mobile-container-offices__title Представительства в регионах
    .main-mobile-container-offices-items-wrapper
        .main-mobile-container-offices-items
            .main-mobile-container-offices-items-item
                .main-mobile-container-offices-items-item__title Domambala.ru
                .main-mobile-container-offices-items-item__text
                    p Domambala.ru
                    p +7(499) 842-00-01
                    p Москва
            .main-mobile-container-offices-items-item
                .main-mobile-container-offices-items-item__title Gain-again.ru
                .main-mobile-container-offices-items-item__text
                    p Gain-again.ru
                    p +7(499) 842-00-01
                    p Москва
            .main-mobile-container-offices-items-item
                .main-mobile-container-offices-items-item__title Inferno-Shop.ru
                .main-mobile-container-offices-items-item__text
                    p Inferno-Shop.ru
                    p +7 (499) 750-09-49<br> +7 (967) 204-77-72
                    p Москва<br> Россошанский проезд дом 3 ТЦ "Прага"
            .main-mobile-container-offices-items-item
                .main-mobile-container-offices-items-item__title Domambala.ru
                .main-mobile-container-offices-items-item__text
                    p Domambala.ru
                    p +7(499) 842-00-01
                    p Москва
            .main-mobile-container-offices-items-item
                .main-mobile-container-offices-items-item__title Somatex Asia
                .main-mobile-container-offices-items-item__text
                    p +84 38760-68-49
                    p Vietnam, Malaysia, Cambodia, Thailand, Laos, Philippines, Japan
            .main-mobile-container-offices-items-item
                .main-mobile-container-offices-items-item__title Somatex Vietnam
                .main-mobile-container-offices-items-item__text
                    p +84 97376-67-89
            .main-mobile-container-offices-items-item
                .main-mobile-container-offices-items-item__title Somatexx<br> Нижний Новгород
                .main-mobile-container-offices-items-item__text
                    p +7(987) 531-91-93
                    p Нижний Новгород
            .main-mobile-container-offices-items-item
                .main-mobile-container-offices-items-item__title Somatexx Ижевск
                .main-mobile-container-offices-items-item__text
                    p +7 (912) 757-77-00
                    p Нижний Новгород
            .main-mobile-container-offices-items-item
                .main-mobile-container-offices-items-item__title Domambala.ru
                .main-mobile-container-offices-items-item__text
                    p Domambala.ru
                    p +7(499) 842-00-01
                    p Москва
            .main-mobile-container-offices-items-item
                .main-mobile-container-offices-items-item__title Domambala.ru
                .main-mobile-container-offices-items-item__text
                    p Domambala.ru
                    p +7(499) 842-00-01
                    p Москва
            .main-mobile-container-offices-items-item
                .main-mobile-container-offices-items-item__title Domambala.ru
                .main-mobile-container-offices-items-item__text
                    p Domambala.ru
                    p +7(499) 842-00-01
                    p Москва