.main{
	height: calc(100vh - 90px);
	font-family: 'Montserrat';
	&.left {
		height: calc(100vh + 170px);
		.main-center {
			height: calc(100vh + 170px);
		}
	}
	&.right {
		height: calc(100vh + 100px);
		.main-center {
			height: calc(100vh + 100px);
		}
	}
	&-footer{
		position: absolute;
		left: 20px;
		bottom: 20px;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.4);
		@media screen and (max-width: 1024px) {
			& {
				display: none;
			}
		}
	}
	&-center{
		height: 100vh;
    	top: 0;
		position: relative;
		overflow: hidden;
		transition: 0.6s;
		transition-delay: 0.1s;
		&-right-mob {
			display: none;
			&.active {				
				position: absolute;
				top: 73%;
				max-width: calc(100% - 20px);
				width: calc(100% - 20px);
				left: 50%;
				transform: translateX(-50%);
				.main-left__title, .main-left__text, .main-right-mob {
					display: none;
				}
				@media screen and (max-width: 767px) {
					display: block;
				}
			}
			&.active.left {
				top: 57%;
				.main-left__title, .main-left__text {
					display: block;
				}
			}
			&.active.right {
				top: 65%;
				.header-right__item {
					display: none;
				}
				.main-right-mob {
					display: block;
					.main-right__submit {
						width: 100%;
						height: 40px;
						font-size: 12px;
						border-radius: 50px;
					}
					input {
						background: #FFFFFF;
						-webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
						box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
						border-radius: 50px;
						width: 100%;
						height: 40px;
						padding-left: 20px;
						border: none;
						font-size: 14px;
						margin-bottom: 20px;
					}
					.main-right__title {
						max-width: unset;
						width: 100%;
						text-align: center;
						margin-bottom: 30px;
					}
					.main-right-row {
						flex-direction: column;
						.main-right__submit {
							margin-left: 0;
						}
					}
					.main-right__alert {
						margin-top: 20px;
						display: flex;
						flex-direction: column;
						align-items: center; 
					}
					.alert {						
						text-align: center;
						position: relative;
						/*display: none;*/
						&.success {
							color: #1FB337;
							&:before {
								content: '';
								background: url(../images/icon-success.svg) center no-repeat;
								width: 10px;
								height: 8px;
								position: absolute;
								left: -20px;
								top: 50%;
								-webkit-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								transform: translateY(-50%);
							}
						}
						&.error {
							display: none;
							color: #AE1A1A;
							&:before {
								content: '';
								background: url(../images/icon-error.svg) center no-repeat;
								width: 8px;
								height: 8px;
								position: absolute;
								left: -20px;
								top: 50%;
								-webkit-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								transform: translateY(-50%);
							}
						}
					}					
				}
			}
			.header-right__item	{
				display: flex;
				margin: 0 auto;
				width: 190px;
				height: 40px;
				font-size: 12px;
			}		
		}
		&.scroll{
			top: -110%;
			@media screen and (max-width: 767px) {
				top: -120%;
			}
		}
		> img{
			position: absolute;
			&.main-center__box2,
			&.main-center__box{
				left: 50%;
				transform: translateX(-50%);				
			}			
			&.main-center__box{
				top: 30%;
				transition: 0.5s;
				transition-delay: 0.2s;
				@media screen and (max-width: 768px) {
					width: 260px;
				}
				@media screen and (max-width: 767px) {
					width: 190px;
					top: 20%;
				}
				&.left{
					left: 77%;
					@media screen and (max-width: 768px) {
						left: 95%;
					}
					@media screen and (max-width: 767px) {
						left: 200%;
					}
				}
				&.right{
					left: 35%;
					@media screen and (max-width: 1024px) {
						left: 20%;
					}
					@media screen and (max-width: 767px) {
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
			&.main-center__box2{
				top: 35%;
				transition: 0.5s;
				transition-delay: 0.2s;
				@media screen and (max-width: 768px) {
					width: 132px;
				}
				@media screen and (max-width: 767px) {
					width: 114px;
					top: 20%;
				}
				&.right{
					left: 35%;
					@media screen and (max-width: 1024px) {
						left: 20%;
					}
					@media screen and (max-width: 767px) {
						left: 50%;
					}
				}
				&.left{					
					@media screen and (max-width: 768px) {
						left: 60%;
					}
					@media screen and (max-width: 767px) {
						left: 50%;
					}
				}
			}
			&.main-center__label-alt {
				display: none;
				left: 35.3%;
    			top: 15.9%;
				transition: 0.5s;
				transition-delay: 0.2s;
				@media screen and (max-width: 1024px) {
					display: block;
				}
				@media screen and (max-width: 767px) {
					display: none;
				}
			}
			&.main-center__label{
				left: 33.3%;
				top: 14.5%;
				transition: 0.5s;
				transition-delay: 0.2s;
				@media screen and (max-width: 1440px) {
					left: 27.7%;
				}
				@media screen and (max-width: 1024px) {
					& {
						display: none;
					}
				}
				&.left{
					left: 60.3%;
					@media screen and (max-width: 1440px) {
						left: 55.3%;
					}
				}
				&.right{
					left: 18.3%;
					@media screen and (max-width: 1440px) {
						left: 12.7%;
					}
				}
			}
		}
		&-left,
		&-right{
			position: absolute;
			height: 100%;
			width: 42.4%;
			cursor: pointer;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				width: 100%;
				height: 100%;
				transition: 0.3s;
			}
			@media screen and (min-width:1200px){
				&:hover:before{
					opacity: 1;
				}
				&:hover &-btn{
					color: rgba(0, 0, 0, 0.75);
				}
			}
			&__title{
				font-weight: 500;
				font-size: 24px;
				margin-bottom: 20px;
				@media screen and (max-width: 768px) {
					font-size: 20px;
				}
			}
			&__text{
				font-size: 16px;
				line-height: 20px;
				@media screen and (max-width: 768px) {
					font-size: 14px;
				}
			}
			&-btn{
				display: inline-block;
				transform: rotate(-90deg) translateX(50%);
				font-size: 12px;
				color: rgba(0, 0, 0, 0.5);
				position: absolute;
				top: 60%;
				width: 150px;
				text-align: center;
				transition: 0.3s;
			}
		}
		&-left{
			left: 0;
			&:before{
				background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 20.46%);
			}
			&-btn{
				left: -29px;
				position: relative;
				@media screen and (max-width: 1024px) {
					& {
						position: absolute;
						transform: unset;
						top: unset;
						left: 50px;
						bottom: 15%;
						text-align: left;						
					}
				}
				@media screen and (max-width: 767px) {
					transform: rotate(-90deg) translateX(50%);
					left: -60px;
					top: 60%;
					position: relative;
					text-align: center;
				}
				&:before{
					content: '';
					position: absolute;
					width: 10px;
					height: 20px;
					background: url('../images/arr-left.svg');
					transform: rotate(90deg) translateX(-50%);
					top: -23px;
					left: 47%;
					@media screen and (max-width: 1024px) {
						& {
							top: -3px;
							right: unset;
							left: -15px;
							transform: rotate(0deg);
						}
					}
					@media screen and (max-width: 767px) {
						transform: rotate(90deg) translateX(-50%);
						top: -10px;
						left: 47%;
						width: 5px;
						background: url(../images/arr-left-mob.svg);
						background-repeat: no-repeat;
						background-size: cover;
					}
				}
			}
			&-wrap{
				position: absolute;
				top: 65%;
				right: 260px;
				max-width: 220px;
				text-align: right;
				@media screen and (max-width: 1024px) {
					right: 180px;
				}
				@media screen and (max-width: 768px) {
					right: 160px;
					top: 55%;
				}
				@media screen and (max-width: 767px) {
					display: none;
				}
				.main-center-left__img{
					position: absolute;
					left: 104%;
					top: -8px;
					overflow: hidden;
					width: 250px;
					display: flex;
					justify-content: flex-end;
					@media screen and (max-width: 1440px) {
						& {
							width: 214px;
						}
					}
					@media screen and (max-width: 1024px) {
						& {
							width: 100px;
						}
					}
					@media screen and (max-width: 768px) {
						width: 85px;
					}
					@media screen and (max-width: 767px) {
						display: none;
					}
				}
			}
		}
		&-right{
			right: 0;
			&:before{
				background: linear-gradient(270deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 20.46%);
			}
			&-btn{
				right: -29px;
				@media screen and (max-width: 1024px) {
					& {
						position: absolute;
						transform: unset;
						right: 50px;
						top: unset;
						bottom: 15%;
						text-align: right;
					}
				}
				@media screen and (max-width: 767px) {
					transform: rotate(-90deg) translateX(50%);
					right: -43px;
					top: 60%;
					position: relative;	
					text-align: center;				
				}
				&:before{
					content: '';
					position: absolute;
					width: 10px;
					height: 20px;
					background: url('../images/arr-left.svg');
					transform: rotate(-90deg) translateX(-50%);
					bottom: -23px;
					left: 47%;
					@media screen and (max-width: 1024px) {
						& {
							top: -3px;
							left: unset;
							right: -15px;
							transform: rotate(180deg);
						}
					}
					@media screen and (max-width: 767px) {
						transform: rotate(-90deg) translateX(-50%);
						top: unset;
						bottom: -12px;
						left: 47%;
						width: 5px;
						background: url(../images/arr-left-mob.svg);
						background-repeat: no-repeat;
						background-size: cover;
					}
				}
			}
			&-wrap{
				position: absolute;
				top: 42%;
				left: 260px;
				max-width: 220px;
				@media screen and (max-width: 1024px) {
					& {
						left: 180px;
					}
				}
				@media screen and (max-width: 768px) {
					left: 160px;
					top: 39%;
				}
				@media screen and (max-width: 767px) {
					display: none;
				}
				.main-center-right__img{
					overflow: hidden;
					position: absolute;
					right: 104%;
					top: -8px;
					width: 250px;
					display: flex;
					justify-content: flex-start;
					@media screen and (max-width: 1440px) {
						& {
							width: 214px;
						}
					}
					@media screen and (max-width: 1024px) {
						& {
							width: 100px;
						}
					}
					@media screen and (max-width: 768px) {
						width: 85px;
					}
					@media screen and (max-width: 767px) {
						display: none;
					}
				}
			}
		}
		&-bot{
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 14px;
			display: flex;
			align-items: center;
			color: rgba(0, 0, 0, 0.5);
			font-weight: 600;
			padding: 20px;
			cursor: pointer;
			transition: 0.3s;
			@media screen and (min-width:1200px){
				&:hover{
					color: rgba(0, 0, 0, 0.75);
				}
			}
			@media screen and (max-width: 767px) {
				font-size: 12px;
				white-space: nowrap;
				&.left {
					top: 92%;
				}
			}
			&:before{
				content: '';
				position: absolute;
				width: 10px;
				height: 20px;
				background: url('../images/arr-left.svg');
				transform: rotate(-90deg) translateX(-50%);
				bottom: 0;
				left: 47%;
			}
			svg{
				margin-right: 10px;
				@media screen and (max-width: 767px) {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
	&-left{
		max-width: 334px;
		position: absolute;
		top: 35%;
		left: -40%;
		transition: 0.6s;
		transition-delay: 0.1s;
		@media screen and (max-width: 768px) {
			left: -100%;
			max-width: 290px;
			max-height: calc(100vh - 510px);
			overflow: auto;
		}
		@media screen and (max-width: 767px) {
			top: 65%;
		}
		&.active{
			left: 10%;
			@media screen and (max-width: 768px) {
				left: 5%;
			}
			@media screen and (max-width: 767px) {
				display: none;
			}			
		}
		&.scroll{
			top: -110%;
		}
		&__title{
			font-weight: 500;
			font-size: 36px;
			margin-bottom: 40px;
			@media screen and (max-width: 768px) {
				font-size: 24px;
			}
			@media screen and (max-width: 767px) {
				margin-bottom: 20px;
				text-align: center;
			}
		}
		&__text{
			font-size: 16px;
			line-height: 20px;
			color: rgba(0, 0, 0, 0.8);
			@media screen and (max-width: 768px) {
				font-size: 14px;
			}
			@media screen and (max-width: 767px) {
				line-height: 17px;
			}
			ul{
				list-style-type: disc;
				list-style-position: inside;
				li{
					margin-bottom: 20px;
					@media screen and (max-width: 767px) {
						margin-bottom: 10px;
						text-align: center;
					}
				}
			}
		}
	}
	&-right{
		position: absolute;
		top: 38%;
		right: -50%;
		transition: 0.6s;
		transition-delay: 0.1s;
		@media screen and (max-width: 768px) {
			right: -100%;
			top: 42%;
		}
		@media screen and (max-width: 767px) {
			right: -200%;
			display: none;
		}
		&.active{
			right: 20%;
			@media screen and (max-width: 1440px) {
				right: 10%;
			}
			@media screen and (max-width: 768px) {
				right: 3%;				
			}
		}
		&.scroll{
			top: -110%;
		}
		&__title{
			font-weight: 500;
			font-size: 36px;
			margin-bottom: 60px;
			max-width: 300px;
			@media screen and (max-width: 768px) {
				font-size: 24px;
				margin-bottom: 40px;
			}
		}
		&-row{
			display: flex;
		}
		input{
			background: #FFFFFF;
			box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
			border-radius: 50px;
			width: 507px;
			height: 50px;
			padding-left: 20px;
			border: none;
			font-size: 14px;
			@media screen and (max-width: 768px) {
				width: 446px;
				font-size: 12px;
			}
		}
		&__submit{
			background: linear-gradient(101.15deg, #40A3FF 0%, #1065B4 100%);
			border-radius: 0px 50px 50px 0px;
			width: 184px;
			height: 50px;
			margin-left: -184px;
			font-weight: 600;
			font-size: 14px;
			color: #FFFFFF;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.3s;
			@media screen and (min-width:1200px){
				&:hover{
					box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
				}
				&:active{
					box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
			}
		}
		.alert{
			position: absolute;
			bottom: -40px;
			left: 40px;
			font-weight: 600;
			font-size: 14px;
			display: none;
			&.success{
				color: #1FB337;
				&:before{
					content: '';
					background: url('../images/icon-success.svg') center no-repeat;
					width: 10px;
					height: 8px;
					position: absolute;
					left: -20px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			&.error{
				color: #AE1A1A;
				&:before{
					content: '';
					background: url('../images/icon-error.svg') center no-repeat;
					width: 8px;
					height: 8px;
					position: absolute;
					left: -20px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
	&-bot{
		width: 100%;
		position: absolute;
		bottom: -100%;
		transition: 0.6s;
		transition-delay: 0.1s;
		&.left {
			bottom: -130vh;
		}
		&.right {
			bottom: -120vh;
		}
		&.scroll{
			bottom: 0;
		}
		&.left.scroll {
			bottom: -170px;
			.main-bot-items-wrapper {
				height: calc(100vh - 160px);
			}
		}
		&.right.scroll {
			bottom: -170px;
			.main-bot-items-wrapper {
				height: calc(100vh - 160px);
			}
		}
		&__btn{
			position: absolute;
			padding: 10px;
			top: -80px;
			display: flex;
			align-items: center;
			left: 50%;
			transform: translateX(-50%);
			color: rgba(0, 0, 0, 0.5);
			font-weight: 600;
			font-size: 14px;
			transition: 0.3s;
			cursor: pointer;
			@media screen and (min-width:1200px){
				&:hover{
					color: rgba(0, 0, 0, 0.75);
				}
			}
			@media screen and (max-width: 767px) {
				font-size: 12px;
				white-space: nowrap;
				top: -40px;
			}
			&:before{
				content: '';
				position: absolute;
				width: 10px;
				height: 20px;
				background: url('../images/arr-left.svg');
				transform: rotate(90deg) translateX(-50%);
				top: -10px;
				left: 47%;
			}
			svg{
				margin-right: 10px;
				@media screen and (max-width: 767px) {
					width: 18px;
					height: 15px;
				}
			}
		}
		&__title{
			font-weight: 600;
			font-size: 36px;
			max-width: 1200px;
			margin: 0 auto 67px;
			width: 100%;
			@media screen and (max-width: 1024px) {
				max-width: 640px;
				margin: 0 auto 32px;
			}
			@media screen and (max-width: 768px) {
				font-size: 24px;
			}
			@media screen and (max-width: 767px) {
				margin: 0 auto 26px;
				text-align: center;
			}
		}
		&-items{
			max-width: 1200px;
			margin: 0 auto;
			padding-top: 10px;
			@media screen and (max-width: 1024px) {
				max-width: 1004px;
			}
			@media screen and (max-width: 768px) {
				max-width: 748px;
			}
			&-wrapper{
				height: calc(100vh - 320px);
				overflow-y: scroll;
				&::-webkit-scrollbar {
					width: 0
				}
				@media screen and (max-width: 767px) {
					height: calc(100vh - 210px);
				}							
			}
			&-item{
				width: 20%;
				margin-right: 30px;
				margin-left: 30px;
				background: #FFFFFF;
				box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
				border-radius: 5px;
				padding: 30px 20px;
				margin-bottom: 60px;
				float: left;
				@media screen and (max-width: 1024px) {
					margin-right: 10px;
					margin-left: 10px;
					margin-bottom: 20px;
					width: 22.963%;
				}
				@media screen and (max-width: 768px) {
					width: 30.5%;
				}
				@media screen and (max-width: 767px) {
					width: 46%;
				}
				@media screen and (max-width: 426px) {
					width: calc(100% - 20px);
					margin-right: 10px;
					margin-left: 10px;					
				}				
				&__title{
					font-weight: 600;
					font-size: 18px;
					margin-bottom: 20px;
				}
				&__text{
					font-size: 14px;
					line-height: 17px;
					@media screen and (max-width: 767px) {
						font-size: 12px;
					}
					p{
						margin-bottom: 15px;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}