*:focus{
	outline: none;
}
*{
	box-sizing: border-box;
}
html,
body{
	display: block;
	color: #000;
	margin: 0;
	line-height: 1;
	overflow: hidden;
	@media screen and (max-width: 767px) {
		overflow: auto;
	}
}
a{
	text-decoration: none;
	color: unset;
}
a:focus, a:hover {
	text-decoration: none;
	color: unset;
}
p{
	margin: 0;
}
ul{
	list-style: none;
	padding: 0;
}
img{
	display: block;
}
label{
	margin-bottom: 0;
	font-weight: normal;
}
.container{
	max-width: 1380px;
	width: 97%;
	margin: 0 auto;
}
.wrapper {
	overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
}

@import 'common/adaptive';
@import 'common/normalize';
@import 'common/header';
@import 'common/footer';
@import 'pages/index';
